@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.left-part {
    padding: 2% 10% 0 10%;
    box-sizing: border-box;
    width: 67%;
    float: left;
    background: #ffffff;
}

.right-part {
    padding: 2% 2% 0 2%;
    box-sizing: border-box;
    width: 33%;
    background: #F8F8F8;
    height: 100%;
    float: right;
}

/* .right-part-tablet {
  display: none;
} */

header {
    width: 87px;
    height: 28px;
    left: 140px;
    top: 40px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    
    color: #333333;    
}

#right-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
}

.greeting {
    margin-top: 5%;
    height: 10%;
}


p.first-p {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #333333;
}

p.second-p {
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    color: #333333;
}

.inputs-div {
    margin-top: 5%;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}

.container {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: white;
  border: 1px solid black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
}

details > summary {
  list-style: none;
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.categoryDiv {
  margin-bottom: 3%;
}

.categories {
  height: 28px;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ABABAB;
  border: 2px solid #F8F8F8;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 2%;
  display: inline-block;
  margin-bottom: 2%;
}

.categories:hover {
  color: #333333;
  background-color: #F8F8F8;
}

.selected {
  color: #333333;
  background-color: #F8F8F8;
}

.searchField {
  margin: 2% 0 3%;
  width: 100%;
  border: 2px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
  height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ABABAB;
  padding-left: 2%;
  outline: none;

}

#getBtn {
  background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
  border-radius: 10px;
  border: 1px solid #7291FF;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 1% 4%;
  margin-top: 2%;
  outline: none;

}

#getBtn:hover {
  background: #FFFFFF;
  border-radius: 10px;
  BORDER: 1px solid #7291FF;
  color: #7291FF;
  outline: none;
  box-sizing: border-box;
}


.joke {
    padding: 5% 5% 10%;
    box-sizing: border-box;
    margin-top: 5%;
    background: #F8F8F8;
    border-radius: 20px;
    margin-bottom: 5%;
}

.jokeFav {
  padding: 5% 5% 10%;
  box-sizing: border-box;
  margin-top: 5%;
  background: #FFFFFF;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.jokeFav .data {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-left: 1%;
}

.jokeFav .commentDiv {
  background-color: #f8f8f8;
}

.jokeFav .mainJoke {
  padding-left: 15%; 
}

.jokeFav .lastTime {
  padding-left: 15%;
  margin-left: 0;
}

.heart {
  font-size: 25px;
  color:red;
  float: left;
}

.heartDiv {
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  margin-left: 95%;
  background: url(img/heart.png) no-repeat center;
  float: right;
}

.heartChoose {
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  margin-left: 95%;
  background: url(img/heartRed.png) no-repeat center;
  float: right;
}

.comment {
  font-size: 30px;
  color: #ABABAB;
  padding: 5px;
}

.commentDiv {
  height: 25px;
  background: #FFF url('img/message.png') no-repeat center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}

.mainJoke {
  width: 80%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.jokeA {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
  text-decoration: none;
}

.jokeId {
  color: #7291FF;
  text-decoration: underline;
}

.jokeId:hover {
  color: rgb(28, 76, 248);
}

.linkImg {
  width: 10px;
  height: 10px;
}

.data {
  margin-top: 2%;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}

.lastTime {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
  margin-left: 10%;
  width: 60%;
  float: left;
  padding: 2% 0;
}

.categoryName {
  background: #FFFFFF;
  border-radius: 6px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333333;
  float: right;
  padding: 1% 3%;
}

.navFull {
  display: none;
}

.button_container_main {
  display: none;
}

@media screen and (max-width: 850px) {
  /* .right-part {
    display: none;
  }

  .right-part-tablet {
    display: inline-block;
  } */

  #right-header {
    display: none;
  }
  .left-part {
    width: 100%;
    padding: 40px 5% 0 5%;
  }

  .navFull {
    display: inline-block;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: 50;
  }

  .button_container_main {
    position: absolute;
    display: flex;
    align-items: center;
    top: 40px;
    right: 5%;
    height: 28px;
    width: 125px;
    cursor: pointer;
    z-index: 150;
    transition: opacity .25s ease;
  }

  .button_container {
    display: inline-block;
    height: 28px;
    width: 28px;
    padding: 2px;
    box-sizing: border-box;
    background-color: #333333;
    background: url(img/burgerClose.png);
    border-radius: 50%;
    cursor: pointer;
    z-index: 150;
    transition: opacity .25s ease;
  }

  .button_container span {
    margin-left: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
  }

  .button_container.active {
    background: url(img/burgerOpen.png);
  }
  
  .overlay {
    position: absolute;
    background: #f8f8f8;
    top: 0;
    right: 0;
    width: 60%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    /* transition: opacity .35s, visibility .35s, height .35s; */
    overflow: hidden;
    z-index: 100;
  }

  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    padding-top: 10%;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .jokeFav {
    margin: 5%;
  }

}


@media screen and (max-width: 640px) { 


  .overlay {
    width: 80%;
  }
  
  .overlay.overlay.open {
    padding-top: 15%;
  }
  }

  @media screen and (max-width: 560px) { 

    .mainJoke {
      padding-left: 15%;
    }
    .lastTime {
      padding: 0 5%;
    }
    .overlay {
      width: 80%;
    }
    
    .overlay.overlay.open {
      padding-top: 15%;
    }
    }


@media screen and (max-width: 380px) { 
  .mainJoke {
    padding-left: 20%;
  }
  .lastTime {
    padding: 2% 10%;
  }

  .jokeFav .mainJoke {
    padding-left: 20%; 
  }
  
  .jokeFav .lastTime {
    padding-left: 20%;
    margin-left: 0;
  }

  .overlay {
  width: 100%;
}

.overlay.overlay.open {
  padding-top: 20%;
}
}
